<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="https://www.omada.net/"/>
    <add key="timeWait" value ="5"/>
    <add key="Job" value ="ExampleJob"/>
    <add key="Name" value ="ExampleName"/>
    <add key="Lastname" value ="ExampleLastname"/>
    <add key="Email" value ="Example@example.com"/>
    <add key="PhoneNumber" value ="111 111 1112"/>
    <add key="CompanyName" value ="ExampleComplanyName"/>
    <add key="Country" value ="Poland"/>
    <add key="FirstMapPositionPath" value = "D:\FirstMapPosition.bmp"/>
    <add key="SecondtMapPositionPath" value = "D:\SecondMapPosition.bmp"/>

    

  </appSettings>
</configuration>